name: Release PR Tagger

on:
  # trigger on pull-request merged to main branch
  pull_request:
    types:
      - closed
    branches:
      - main

concurrency:
  group: tagger-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tagger:
    # check the following items before procedding:
    # 1. the PR has been merged to branch `main`
    # 2. the PR title starts with string `Release`
    if: github.event.pull_request.merged && github.event.pull_request.base.ref == 'main' && startsWith(github.event.pull_request.title, 'Release')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch_depth: 0
          ref: 'main'

      # git tag the release, then push it
      # The tag name is the string after `Release`, trimmed of whitespace
      - name: Tag Release
        uses: actions/github-script@v6
        with:
          script: |
            const { repo, owner } = context.repo;
            const sha1 = context.payload.pull_request.head.sha;
            const title = context.payload.pull_request.title;
            const tag = title.substring(title.indexOf('Release') + 'Release'.length).trim();
            const tagger = context.actor;
            const result = await github.rest.git.createRef({
              owner,
              repo,
              ref: `refs/tags/${tag}`,
              sha: sha1,
            });